.header {
  display: flex;
  justify-content: space-around;
  background: rgb(39, 183, 134);
  background: linear-gradient(
    0deg,
    rgba(39, 183, 134, 1) #27b786,
    rgba(44, 198, 144, 1) 50%,
    rgba(50, 215, 157, 1) 100%
  );
  height: 10%;
}
.company-icon {
  flex-basis: content;
  flex-shrink: 0;
  flex-grow: 0;
  height: 100%;
}

.company-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.company-name {
  flex-basis: content;
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
  color: #000;
}

.search-bar {
  padding-left: 5%;
  padding-right: 5%;
  flex-basis: 50%;
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  color: #fff;
  background: #0055b3;
}

.about-us,
.contact-us {
  flex-basis: content;
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 1.2rem;
  font-weight: 450;
}

.profile {
  flex-basis: content;
  flex-shrink: 0;
  flex-grow: 0;
  height: 100%;
  display: flex;
}
.user-icon {
  flex-basis: 80%;
  flex-shrink: 0;
  flex-grow: 0;
}

.user-icon img {
  clip-path: circle(45% at 50% 50%);
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.current-user-name {
  flex-basis: content;
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #000;
  font-weight: 550;
}
