<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <div class="company-icon"><img src="../../../assets/images/white-casa-logo.png" alt="" srcset=""></div>
        <div class="company-name"><span>CasaVenturo</span></div>
        <div class="search-bar"></div>
        <div class="about-us"></div>
        <div class="contact-us"></div>
        <div class="profile">
            <div class="user-icon"></div>
            <div class="current-user-name"></div>
        </div>
    </div>
</body>
</html>
