<footer class="text-white py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h5>About Us</h5>
          <p>Couldn't think of something so came up with this</p>
        </div>
        <div class="col-md-3">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="#">Home</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>Connect With Us</h5>
          <ul class="list-unstyled">
            <li><a href="#"><i class="fab fa-facebook"></i> Facebook</a></li>
            <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
            <li><a href="#"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
            <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>Contact Info</h5>
          <p>Email: something@something.com</p>
          <p>Phone: +91 1234567890</p>
        </div>
      </div>
    </div>
  </footer>